/* This file is part of Menzostat and is licenced under the GNU AGPLv3 or later
 * (c) 2023 David Koňařík */
html {
	--accent-bg: lightcoral;
	--accent-bg-light: oldlace;
}

img {
	max-width: 100%;
	max-height: 100vh;
}

a {
	color: firebrick;
}

.table-wrapper {
	overflow-x: auto;
}
table {
	border-collapse: collapse;
}
table td {
	padding: 3px 8px;
}
table th {
	padding: 5px 10px;
}
table thead {
	background-color: var(--accent-bg);
}
table tbody tr:nth-child(2n+1) {
	background-color: var(--accent-bg-light);
}

table.sortable th[aria-sort=descending]::after {
	content: "▼";
	padding-left: 10px;
}
table.sortable th[aria-sort=ascending]::after {
	content: "▲";
	padding-left: 10px;
}

body {
	margin: 0;
	font-family: sans-serif;
}

nav ul {
	display: flex;
	max-width: 800px;
	margin: 20px auto;
	padding: 0 10px;
}
@media (max-width: 450px) {
	nav ul {
		flex-direction: column;
	}
}
nav ul li {
	list-style: none;
	margin: 0;
	margin-left: 30px;
	font-size: 24px;
}
nav ul li a {
	text-decoration-line: none;
}
nav ul li a[href="/"] {
	color: maroon;
}

footer {
	max-width: 800px;
	margin: 0 auto;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer li {
	display: inline-block;
	padding: 0 10px;
	border-left-style: solid;
	border-width: 1px;
	border-color: gray;
}
footer li:first-child {
	border-left-style: none;
}
footer a {
	color: chocolate;
}

li {
	margin-top: 6px;
}
li:first-child {
	margin-top: 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
}

/* .hl-* -- inline highlighting */
.hl {
	border-style: none;
	border-radius: 3px;
	padding: 0 3px;
}
.hl-de { /* day even */
	background-color: lightyellow;
}
.hl-do { /* day odd */
	background-color: palegoldenrod;
}
.hl-k2 { /* kind 2 (soup) */
	background-color: lightgreen;
}
.hl-k3 { /* kind 3 (meal) */
	background-color: khaki;
}
.hl-kx { /* kind unknown (or alternative unhandled) */
	background-color: rebeccapurple;
	color: white;
}
.hl-k2a1 { /* kind 2 (soup), alternative 1 */
	background-color: lightgreen;
}
.hl-k2a2 { /* kind 2 (soup), alternative 2 */
	background-color: darkseagreen;
}
.hl-k3a1 { /* kind 3 (meal), alternative 1 */
	background-color: khaki;
}
.hl-k3a2 { /* kind 3 (meal), alternative 2 */
	background-color: yellow;
}
.hl-k3a3 { /* kind 3 (meal), alternative 3 */
	background-color: peachpuff;
}
.hl-k3a4 { /* kind 3 (meal), alternative 4 */
	background-color: honeydew;
}
.hl-k3a5 { /* kind 3 (meal), alternative 5 */
	background-color: lavender;
}
.hl-k3a6 { /* kind 3 (meal), alternative 6 */
	background-color: lightsteelblue;
}
.hl-k3a7 { /* kind 3 (meal), alternative 7 */
	background-color: skyblue;
}
.hl-k3a8 { /* kind 3 (meal), alternative 8 */
	background-color: aquamarine;
}

.double-chart {
	display: flex;
	flex-wrap: wrap;
}
.double-chart img {
	max-width: 400px;
}

.api-form {
	margin-top: 30px;
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	grid-gap: 20px;
}
@media (max-width: 600px) {
	.api-form {
		grid-template-columns: unset;
		grid-template-rows: auto auto auto;
	}
}
